#nav-wrapper {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;

  .navbar-nav .nav-link {
    color: #fff;

    &.active {
      color: #F06000;
    }

    &:hover {
      color: #F06000;
    }
  }
}
