.home {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;

  h1 {
    font: 90px/1.1em 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
  }

  h2 {
    color: #A8A8A8;
  }

  p {
    font-size: 1.3em;
  }
}
